<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<schedule>
			<subs_next_reminder_cronschedule>
				<subscription_next_order_time/>
			</subs_next_reminder_cronschedule>
		</schedule>
	</default>
</config>
