<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Reports::customReports_batchlistreport" title="Authorize Settlement Report" translate="title" module="CustomReports_BatchListReport" sortOrder="110" parent="Magento_Reports::AdminGrid_Top" action="reports/batchlistreport/index" resource="Magento_Reports::customReports_batchlistreport"/>
    </menu>
</config>
