<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_product_save_before">
		<observer name="ssmd_catalog_observer_catalog_productsavebefore_catalog_product_save_before" instance="Ssmd\Catalog\Observer\Catalog\ProductSaveBefore"/>
	</event>
</config>
