<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Reports::subscription_report" title="Subscription Report" translate="title" module="Renewal_SubscriptionReport" sortOrder="70" parent="Magento_Reports::AdminGrid_Top" action="reports/subscriptionreport/index" resource="Magento_Reports::subscription_report"/>
    </menu>
</config>
