<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="ConsultOnly\UpdateConsultOnly\Api\UpdateConsultOnlyManagementInterface" type="ConsultOnly\UpdateConsultOnly\Model\UpdateConsultOnlyManagement"/>
	<preference for="ConsultOnly\UpdateConsultOnly\Api\ConsultOnlyInfoManagementInterface" type="ConsultOnly\UpdateConsultOnly\Model\ConsultOnlyInfoManagement"/>
</config>
