<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="CustomReports\ReconciliationInvoiceReport\Model\ResourceModel\ReconciliationInvoiceReport\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order</argument>
            <argument name="eventPrefix" xsi:type="string">reconciliation_invoice_report_grid_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">reconciliation_invoice_report_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">CustomReports\ReconciliationInvoiceReport\Model\ResourceModel\ReconciliationInvoiceReport</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customreports_reconciliation_invoice_report_listing_data_source" xsi:type="string">CustomReports\ReconciliationInvoiceReport\Model\ResourceModel\ReconciliationInvoiceReport\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
