<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <subscriptions>
            <general>
                <version backend_model="ParadoxLabs\Subscriptions\Model\Config\Version" />
                <active>1</active>
                <billing_active>1</billing_active>
                <allow_customer_pause>1</allow_customer_pause>
                <allow_customer_cancel>1</allow_customer_cancel>
                <group_same_day>1</group_same_day>
                <recalculate_pricing>0</recalculate_pricing>
                <always_add_custom_option>0</always_add_custom_option>
                <default_to_one_time>1</default_to_one_time>
                <enable_public_api>0</enable_public_api>
                <option_label>Subscription</option_label>
                <installment_label>installments</installment_label>
                <input_type>drop_down</input_type>
                <force_shipping_method />
                <enable_shipping_fallback>1</enable_shipping_fallback>
                <enable_dynamic_pricing>1</enable_dynamic_pricing>
            </general>
            <schedule>
                <days_of_week>0,1,2,3,4,5,6</days_of_week>
                <days_of_month>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31</days_of_month>
                <months>1,2,3,4,5,6,7,8,9,10,11,12</months>
                <blackout_dates />
                <reactivate_behavior>keep_existing</reactivate_behavior>
            </schedule>
            <billing_failed>
                <active>1</active>
                <identity>general</identity>
                <receiver>general</receiver>
                <template>subscriptions_billing_failed_template</template>
            </billing_failed>
            <payment_failed>
                <active>1</active>
                <identity>general</identity>
                <template>subscriptions_payment_failed_template</template>
            </payment_failed>
            <billing_notice>
                <active>0</active>
                <advance_period>7</advance_period>
                <identity>general</identity>
                <template>subscriptions_billing_notice_template</template>
            </billing_notice>
        </subscriptions>
        <checkout>
            <payment_method_vault_map>
                <adyen_cc>
                    <code>adyen_cc_vault</code>
                    <active_path>payment/adyen_cc_vault/active</active_path>
                </adyen_cc>
                <bluesnap_hostedfields>
                    <code>bluesnap_vault</code>
                    <active_path>payment/bluesnap_vault/active</active_path>
                </bluesnap_hostedfields>
                <braintree>
                    <code>braintree_cc_vault</code>
                    <active_path>payment/braintree_cc_vault/active</active_path>
                </braintree>
                <braintree_paypal>
                    <code>braintree_paypal_vault</code>
                    <active_path>payment/braintree_paypal_vault/active</active_path>
                </braintree_paypal>
                <cayancc>
                    <code>cayancc_vault</code>
                    <active_path>payment/cayancc_vault/active</active_path>
                </cayancc>
                <payflowpro>
                    <code>payflowpro_cc_vault</code>
                    <active_path>payment/payflowpro_cc_vault/active</active_path>
                </payflowpro>
            </payment_method_vault_map>
        </checkout>
    </default>
</config>
