<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Order handling -->
    <event name="checkout_submit_all_after">
        <observer name="subscriptions_generate" instance="ParadoxLabs\Subscriptions\Observer\GenerateSubscriptionsObserver" />
    </event>
    <event name="paypal_express_place_order_success">
        <observer name="subscriptions_generate" instance="ParadoxLabs\Subscriptions\Observer\GenerateSubscriptionsObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="subscriptions_log_fill_order_id" instance="ParadoxLabs\Subscriptions\Observer\CorrectLogOrderIdObserver" />
    </event>
    <event name="sales_quote_product_add_after">
        <observer name="subscriptions_quote_add_item" instance="ParadoxLabs\Subscriptions\Observer\QuoteAddItemObserver" />
    </event>
    <event name="payment_method_is_active">
        <observer name="subscriptions_payment_is_available" instance="ParadoxLabs\Subscriptions\Observer\PaymentAvailableObserver" shared="true" />
    </event>
    <event name="paradoxlabs_subscription_status_change">
        <observer name="subscriptions_recalculate_reactivated_schedule" instance="ParadoxLabs\Subscriptions\Observer\RecalculateActivatedSubscriptionObserver" />
    </event>
    <event name="paradoxlabs_subscription_collect_totals_before">
        <observer name="subscriptions_recalculate_reactivated_schedule" instance="ParadoxLabs\Subscriptions\Observer\RecalculateItemPriceObserver" />
    </event>

    <!-- Product option/interval handling -->
    <event name="catalog_product_save_after">
        <observer name="subscriptions_sync_product_intervals" instance="ParadoxLabs\Subscriptions\Observer\GenerateIntervalsObserver" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="subscriptions_delete_product_intervals" instance="ParadoxLabs\Subscriptions\Observer\RemoveIntervalsObserver" />
    </event>

    <!-- Payment method compatibility -->
    <event name="paradoxlabs_subscription_prepare_payment_braintree">
        <observer name="subscriptions_generate_prepare_braintree" instance="ParadoxLabs\Subscriptions\Observer\Payment\BraintreeObserver" />
    </event>
    <event name="paradoxlabs_subscription_prepare_payment_braintree_paypal">
        <observer name="subscriptions_generate_prepare_braintree" instance="ParadoxLabs\Subscriptions\Observer\Payment\BraintreeObserver" />
    </event>
    <event name="paradoxlabs_subscription_prepare_payment_braintree_cc_vault">
        <observer name="subscriptions_generate_prepare_braintree" instance="ParadoxLabs\Subscriptions\Observer\Payment\BraintreeObserver" />
    </event>
    <event name="paradoxlabs_subscription_prepare_payment_braintree_paypal_vault">
        <observer name="subscriptions_generate_prepare_braintree" instance="ParadoxLabs\Subscriptions\Observer\Payment\BraintreeObserver" />
    </event>

    <event name="tokenbase_card_save_after">
        <observer name="subscriptions_update_quote_payment" instance="ParadoxLabs\Subscriptions\Observer\UpdateQuotePaymentObserver" />
    </event>

    <event name="tokenbase_card_queue_delete">
        <observer name="subscriptions_unlink_deleted_card" instance="ParadoxLabs\Subscriptions\Observer\Payment\UnlinkDeletedCardObserver" />
    </event>

    <!-- Customer data sync -->
    <event name="customer_save_after">
        <observer name="subscriptions_sync_customer_data_change" instance="ParadoxLabs\Subscriptions\Observer\UpdateOnCustomerSaveObserver" />
    </event>
</config>
