<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_collect_totals_before">
        <observer name="subscriptions_correct_cart_currency" instance="ParadoxLabs\Subscriptions\Observer\CorrectCartCurrencyObserver" />
    </event>
    <event name="catalog_product_option_price_configuration_after">
        <observer name="subscriptions_product_view_set_option_prices" instance="ParadoxLabs\Subscriptions\Observer\SetProductOptionPricesObserver" />
    </event>
</config>
