<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="Magento_Reports::AdminGrid_Top" title="Custom Reports" sortOrder="10">
                        <resource id="Magento_Reports::customReports_batchlistreport" title="View Batch List Report" sortOrder="10"/>
                        <resource id="Magento_Reports::customReports_batchstatsreport" title="View Batch Stats Report" sortOrder="20"/>
                        <resource id="Magento_Reports::customReports_batchtransreport" title="View Transactions Report" sortOrder="30"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
