<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
       <add id="Ssmd_Impersonation::Impersonation" title="Impersonation" module="Ssmd_Impersonation" sortOrder="40" parent="Magento_Customer::customer" action="impersonation/index/index" resource="Ssmd_Impersonation::Impersonation" />
    </menu>
</config>
