<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CustomerGraphQl\Model\Customer\ExtractCustomerData" type="Ssmd\Customer\Model\Customer\ExtractCustomerData"/>

    <preference for="Magento\CustomerGraphQl\Model\Resolver\DeleteCustomerAddress" type="Ssmd\Customer\Model\Resolver\DeleteCustomerAddress" />
</config>
