<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Reports::prescriptions_expiring" title="Prescription Expire Schedule" translate="title" module="Prescriptions_Expiring" sortOrder="190" parent="Magento_Reports::AdminGrid_Top" action="reports/prescriptionexpireschedule/index" resource="Magento_Reports::prescriptions_expiring"/>
    </menu>
</config>
