<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Backend::top_level" title="Backend" module="Backend_Medical" sortOrder="9999" resource="Backend_Medical::Medical_save"/>
        <add id="Backend_Medical::backend_medical_medical" title="Medical History" module="Backend_Medical" sortOrder="9999" resource="Backend_Medical::Medical" parent="Backend::top_level" action="backend/medical/index"/>
    </menu>
</config>
