<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_Helpdesk2::home"
             title="Help Desk Ultimate 2 by Aheadworks"
             module="Aheadworks_Helpdesk2"
             sortOrder="120"
             parent="Magento_Customer::customer"
             resource="Aheadworks_Helpdesk2::home"/>
        <add id="Aheadworks_Helpdesk2::tickets"
             title="Tickets"
             module="Aheadworks_Helpdesk2"
             sortOrder="10"
             parent="Aheadworks_Helpdesk2::home"
             action="aw_helpdesk2/ticket/index"
             resource="Aheadworks_Helpdesk2::tickets"/>
        <add id="Aheadworks_Helpdesk2::departments"
             title="Departments"
             module="Aheadworks_Helpdesk2"
             sortOrder="20"
             parent="Aheadworks_Helpdesk2::home"
             action="aw_helpdesk2/department/index"
             resource="Aheadworks_Helpdesk2::departments"/>
        <add id="Aheadworks_Helpdesk2::gateways"
             title="Gateways"
             module="Aheadworks_Helpdesk2"
             sortOrder="30"
             parent="Aheadworks_Helpdesk2::home"
             action="aw_helpdesk2/gateway/index"
             resource="Aheadworks_Helpdesk2::gateways"/>
        <add id="Aheadworks_Helpdesk2::automations"
             title="Automations"
             module="Aheadworks_Helpdesk2"
             sortOrder="40"
             parent="Aheadworks_Helpdesk2::home"
             action="aw_helpdesk2/automation/index"
             resource="Aheadworks_Helpdesk2::automations"/>
        <add id="Aheadworks_Helpdesk2::rejecting_patterns"
             title="Rejecting Patterns"
             module="Aheadworks_Helpdesk2"
             sortOrder="50"
             parent="Aheadworks_Helpdesk2::home"
             action="aw_helpdesk2/rejecting_pattern/index"
             resource="Aheadworks_Helpdesk2::rejecting_patterns"/>
        <add id="Aheadworks_Helpdesk2::rejected_messages"
             title="Rejected Messages"
             module="Aheadworks_Helpdesk2"
             sortOrder="60"
             parent="Aheadworks_Helpdesk2::home"
             action="aw_helpdesk2/rejecting_message/index"
             resource="Aheadworks_Helpdesk2::rejected_messages"/>
        <add id="Aheadworks_Helpdesk2::quick_responses"
             title="Quick Responses"
             module="Aheadworks_Helpdesk2"
             sortOrder="70"
             parent="Aheadworks_Helpdesk2::home"
             action="aw_helpdesk2/quickresponse/index"
             resource="Aheadworks_Helpdesk2::quick_responses"/>
    </menu>
</config>
