<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="Magento_Reports::AdminGrid_Top" title="Custom Reports" sortOrder="140">
                        <resource id="Magento_Reports::customreports_impersonationreport" title="View Impersonation Report" sortOrder="80"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
